#Peliculas_Nuevas .custom-card {
    border-radius:  15px;
    overflow: hidden;
    border: 0;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    color: #000;
}
#Peliculas_Nuevas .custom-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.0.8);
}
#Peliculas_Nuevas .col-custom {
    padding: 20px;
}
.header{
    background-color: rgba(4, 32, 77, 0.829);
}
.container{
    background-color: rgba(8, 17, 24, 0.938);

}
.container2{
    background-color: rgba(4, 32, 77, 0.829);

}
.header{
    background-color: rgba(4, 32, 77, 0.829);
}
.container{
    background-color: rgba(8, 17, 24, 0.938);

}
.container2{
    background-color: rgba(4, 32, 77, 0.829);
    padding-bottom: 2.5rem;
}

.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 92px;
    color: #fff;
    text-shadow: 0 8px 9px #b6b4c5, 0px -2px 1px rgb(62, 33, 224);
    letter-spacing: 4px;
    text-align: center;
    background: linear-gradient(to bottom, #020201 0%,#4e3636 100%);
    border-radius: 20px;
  }
