#search #search-movie {
    margin-bottom: 40px;
}

#search .custom-card {
    padding: 20px;
}
#search .custom-card img {
    height: 100%;
}
.container{
    background-color: rgba(8, 17, 24, 0.938);

}
.header{
    background-color: rgba(4, 32, 77, 0.829);
}
.container{
    background-color: rgba(8, 17, 24, 0.938);

}
.header{
    background-color: rgba(4, 32, 77, 0.829);
}

