@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.header{
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	z-index: 10;
    background-color: whitesmoke;

}
*/
/*
.btn-menu{
	background-color: rgba(245, 239, 239, 0);
	font-size: 2rem;
                     	border: none;
	color: rgb(182, 81, 81);
	margin-left: 1rem;
	width: 32px;
	height: 32px;}

    .btn-busqueda{
    background-color: rgba(245, 239, 239, 0);
	font-size: 2rem;
	border: none;
	color: rgb(182, 81, 81);
	margin-right: -150px;
    padding: .5rem 1.5 rem;
	width: 32px;
	height: 32px;

    }
	*/